# Node dependencies
node_modules/
package-lock.json

# Generated Presentation Files
*.pptx
*.pdf
*.txt
*.log

# Generated intermediate folders
slides_html*/
mineru_out*/
output*/

# Generated Markdown from PDF
*.md

# OS files
.DS_Store
images/
AI_Strategy_*
